h1, h2, h3, h4, h5, h6{
    //margin:0px !important;

}

hr{
    margin-block-start: 0.5em;
    margin-block-end: 0;
    //margin-inline-start: 0;
    //margin-inline-end: 0;
}

.Home h1:first-of-type{
    text-align: center;
}
